.createContainer {
  margin-top: 50px;
}

.creationForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.journalInput {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 15px;
  background-color: #f5f5dc;
}

.journalInput:focus {
  border: 1px solid black;
  background-color: #c2b280;
}

.createButton {
  width: fit-content;
  margin-bottom: 0;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  background-color: #efcca2;
  transition: background-color 0.3s;
}

.createButton:hover {
  background-color: #ceac83;
}

.createButton:active {
  background-color: #c29e71;
}
