.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searchBar {
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 15px;
  background-color: #f5f5dc;
}

.searchBar:focus {
  border: 1px solid black;
  background-color: #c2b280;
}

.editJournal {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.journalButton {
  background-color: #f3ebad;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.journalButton:hover {
  background-color: #d1c989;
}

.journalButton:active {
  background-color: #d1c359;
}
